<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>ComicStore</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">Comic Store</a>
        </div>
        <div>
          <a href="cart.html">Carrito</a>
          <a href="singin.html">Ingresar</a>
        </div>
      </header>
      <main>
        <div class="row center">
            <!-- Carta -->
          <div class="card">
            <a href="producto.html">
              <!-- Image size 680 by 830 px -->
              <img class="medium" src="images/product-1.jpg" alt="producto" />
            </a>
            <div class="card-body">
              <a href="producto.html">
                <h2>Hellblazer</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$300</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
  </body>
</html>
