html{
  font-size: 62.5%; /*  */
  box-sizing: border-box;
}
body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}

/* Layout */
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header{
  grid-area: header;
  background-color: #1f2932;
}
main{
  grid-area: main;
  padding: 1rem;
}
footer{
  grid-area: footer;
  background-color: #1f2932;
  color: #ffffff;
}
/* Decoraciones comunes */
h1{
  font-size: 1.8rem;
  padding: 1rem 0 ;
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0 ;
}
a{
  text-decoration: none;
}
a:hover{
  color: #1b729f;
}
/* header */
header a{
  color: white;
  padding: 1rem;
}
a.brand{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center ;
}
.row.center{
  justify-content: center;
}

/* Imagenes */
img{
  border-radius: 0.5rem;
}
img.medium{
  max-width: 29rem;
  width: 100%;
}
/* Card */
.card{
  width: 29rem;
  border: 0.1rem;
  color: grey;
  border-style: solid;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body{
  padding: 1rem ;
}
.card-body > *{
  margin-bottom: 0.5rem;
}
.pages{
  font-size: 1.5rem;
  color: rgba(87, 0, 14, 0.884);
}
.price{
  font-size: 2rem;
  color: #1b729f;
}
.category{
  font-size: 1rem;
  color: black;
}

/* Rating */
.rating span{
  color: #0a3457 ;
  margin: 0.1rem;
}
.rating span :last-child{
  color: rgba(255, 0, 0, 0.336);
}